[submodule "lib/N64ModernRuntime"]
	path = lib/N64ModernRuntime
	url = https://github.com/devnoname120/N64ModernRuntime-vita.git
	branch = dev/vita
[submodule "lib/rt64"]
	path = lib/rt64
	url = https://github.com/devnoname120/rt64-vita.git
	branch = dev/vita
[submodule "lib/RecompFrontend"]
	path = lib/RecompFrontend
	url = https://github.com/Killklli/RecompFrontend
	branch = mod_store
[submodule "lib/dk64_decomp"]
	path = lib/dk64_decomp
	url = https://gitlab.com/dk64_decomp/dk64
[submodule "lib/vcpkg"]
	path = lib/vcpkg
	url = https://github.com/microsoft/vcpkg
